# Gradle files
.gradle/
build/
*.jks
*.keystore

# Android Studio
.idea/
.DS_Store
*.iml
*.apk
*.ap_
*.dex
*.class

# Local configuration file
local.properties

# Gradle wrapper
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
